{% extends 'OWDR/base.html' %}
{% block content %}
    <div class="container container--90">
        {{ message|safe }}
        <ul>
            <li>e-mail: {{ user.email }}</li>
            <li>Imię: {{ user.first_name }}</li>
            <li>Nazwisko: {{ user.last_name }}</li>
        </ul>
        <a href="{% url 'profile_edit' %}" class="btn btn--without-border">Zmień dane</a>
        <a href="{% url 'change_password' %}" class="btn btn--without-border">Zmień hasło</a>
    </div>
{% endblock %}